:root {
  background-color: #121212;
  color: #fff
}

@media (prefers-color-scheme: dark) {
  :root {
      --foreground-rgb:255,255,255;
      --bg-color-1: #fff;
      --bg-color-2: #000;
      --bg-color-3: #1e1e1e;
      --txt-color-1: #fff;
      --txt-color-2: #000;
      --txt-color-3: silver
  }
}


* {
  box-sizing: border-box;
  margin:0;
  padding: 0 ;

}
body {
  height: 100vh;
  background-color: #121212;
}
.main-container {
  height:100%;
  width:100%;
  overflow-y: scroll;
}

.header-container {
  position: fixed;
  top: 0;
  z-index: 5000;
  background: rgba(29,34,51,.2);
  width: 100%;
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  backdrop-filter: blur(16px) saturate(180%);
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.25rem 0;
}
.header-fix {
  height: 3.6rem;
}
 .logo-n-title {
  display: flex;
  align-items: center;
}
#img {
  padding: 0.375rem;
}
#logo {
    display: flex;
    align-items: center;
}
.gradient-color {
  height: 2px;
  width: 100%;
}

.gradient-color-1 {
  background-image: linear-gradient(100deg,#fb2576,#5e76fd 50%,#6df1af 110%);
}
.company-intro {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 6vh 1rem 5vh;
  position: relative;
  border-bottom: 1px solid #363636;
  background: #1d2233;
  color: #f0f0f0;
  overflow: hidden;
}
.pattern-1 {
  width: 100%;
  height: 100%;
  background: url(https://www.xzect.com/assets/images/patterns/rrreflection.svg);
  background-position: 50%;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  opacity: .3;
}

  .two {
    background: #1e222e;
    color: var(--txt-color-1);
    overflow: hidden;
    padding: 1rem 0 3rem;
  }

.tag-line{
  color: aliceblue;
  font-size: 5rem;
  flex-wrap: wrap;
  word-wrap: break-word;
  /* padding: 6rem, 2rem; */
}
.cta-btn-group {
  display: flex;
  justify-content: space-around;
}
.btn {
  display: inline-block;
  background: #1d2233;
  color: var(--txt-color-1);
  text-align: center;
  padding: 1rem 2rem;
  border-radius: 3px;
 
}

a {
  color: inherit;
  text-decoration: none;
}
.cta-btn {
  margin: 1.25rem 1rem;
  display: block;
  padding: 1rem;
}

.cta-1 {
  border: 2px solid #075e54;
  background: #075e54;
  transition: all .3s ease-in-out;
}
.cta-1:hover {
  background: #05423b;
  /* font-weight: 700 */
}
.left-div{
  width:50%;
  /* background-color: #6df1af; */
  flex:5 1;
 
  
  
}
.right-div {
  /* background-color: pink; */
}
.cta-2{
  border: 2px solid #5e76fd;
  background: #1d2233;
  transition: all .3s ease-in-out;
}
.cta-2:hover {
  border-image-slice: 1;
  border-width: 2px;
  border-image-source: linear-gradient(100deg,#fb2576,#5e76fd 50%,#6df1af 110%)
}
.cta-txt {
  padding: .75rem 0
}
.brand-tagline {
  font-size: 2.5rem;
}

/* 3D CUBE */

.dancing-box-wrap {
  display: flex;
  justify-content: center;
  padding: 2rem 0;
  width:50%
}

.dancing-box {
  width: 13rem;
  height: 13rem;
  perspective: 2000px;
  perspective-origin: 50% -460px
}

.box-faces {
  background-color: pink;
   background: url(https://www.xzect.com/assets/images/xzect-logo-space.svg); 
  background-size: cover;
  position: absolute;
  border: .4375rem solid #fff;
  width: 10.875rem;
  height: 10.875rem
}

.box-cube {
  transform-style: preserve-3d;
  transform: rotateX(45deg) rotateY(45deg) rotate(25deg);
  transform-origin: 50% 100px 0;
  animation: rotate 20s linear infinite
}

.box-front {
  transform: translateZ(5.375rem)
}

.box-back {
  transform: rotateY(180deg) translateZ(5.375rem)
}

.box-top {
  transform: rotateX(90deg) translateZ(5.375rem)
}

.box-bottom {
  transform: rotateX(-90deg) translateZ(5.375rem)
}

.box-left {
  transform: rotateY(-90deg) translateZ(5.375rem)
}

.box-right {
  transform: rotateY(90deg) translateZ(5.375rem)
}

@keyframes rotate {
  0% {
      transform: rotateY(0)
  }

  20% {
      transform: rotateY(1turn)
  }

  40% {
      transform: rotateY(45deg) rotateX(-180deg)
  }

  60% {
      transform: rotateY(45deg) rotateX(180deg)
  }

  80% {
      transform: rotate(0)
  }

  to {
      transform: rotate(1turn)
  }
}
.line-container {
  display: flex;
  /* align-items:flex-start; */
  /* justify-content:space-between; */
  padding: 0 1rem 5vh;
  position: relative;
  border-bottom: 1px solid #363636;
  background: #1d2233;
  color: #f0f0f0;
  overflow: hidden;
  height:100%;
  width:100%;
}
.section-h2 {
  font-size: 2rem;
  text-align: center;
  padding: 0 1rem;
}
.section-p {
  color: #ebebeb;
}
.container {
  max-width: 1600px;
  margin: 0 auto;
}

.services-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.service-card {
  background: #242836;
  padding: 1rem;
  border: 1px solid #666;
  border-radius: 3px;
  margin: 1rem;
  color: var(--txt-color-1);
  transition: all .3s ease-in-out;
}
.service-card img {
  border-radius: 10px;
  width: 100%;
  transition: all .3s ease-in-out;
}
.service-card:hover img {
  transform: scale(1.05);
}
.service-card h3 {
  font-weight: 400;
  font-size: 1.25rem;
  margin: 1rem 0;
}
.service-card p {
  color: #269df5;
  display: inline-block;
  margin: 0.5rem 0 1rem;
}
.tech-stack {
  background: #f5f5f5;
  color: #000;
  padding: 2rem 1rem;
}
.all-stack:hover {
  background: #ff5f08;
  color: var(--txt-color-1)
}
.tech-stack .section-p {
  color: #666;
}
.tech-tools {
  flex-wrap: wrap;
  margin: 3rem 0;
}

.tech-tools, .tt-card {
  display: flex;
  justify-content: center;
}
.view-all-stack {
  text-align: center;
  margin-bottom: 2rem;
}
.all-stack {
  background: var(--bg-color-1);
  color: #ff5f08;
  border: 1px solid #ff5f08;
  font-weight: 700;
  transition: all .3s ease;
}
.tt-card {
  flex: 0 1 9.25rem;
  align-items: center;
  background: #ffffff4a;
  color: #000;
  border: 1px solid #fff;
  padding: .5rem .25rem;
  margin: 1rem .5rem;
  box-shadow: 2px 14px 20px 6px rgba(224,230,235,.58);
  border-radius: 3px
}

.tt-card-image img {
  width: 1.5rem
}

.tt-card-title {
  margin-left: .75rem;
  font-size: 1.25rem
}
.footer-cta {
  background: #1d2233;
  color: #f0f0f0;
  text-align: center;
  position: relative;
  overflow: hidden;
}
.pattern-2 {
  width: 100%;
  height: 100%;
  background: url(https://www.xzect.com/assets/images/patterns/ttten.svg);
  background-position: top;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  opacity: .3;
}
.footer-cta h2 {
  font-size: 2.5rem;
}


.footer-cta p {
  font-size: 2.25rem;
  font-weight: 700;
  margin: 2.5rem 0 1.5rem;
}
.gradient-color-1 {
  background-image: linear-gradient(100deg,#fb2576,#5e76fd 50%,#6df1af 110%);
}
.gradient-text {
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.gradient-color-2 {
  background-image: linear-gradient(145deg,#dd0255,#3047c9 30%,#441fff 65%,#02c362 85%);
}

.gradient-border {
  height: 2px;
  width: 100%;
}
.gradient-btn-1:hover {
  background-position: 100% 0
}
.gradient-btn-1 {
    margin: 2.5rem 1rem;
    font-size: 1.25rem;
    font-weight: 700;
    text-shadow: 0 2px 1px rgba(0,0,0,.45);
    transition: all .45s cubic-bezier(.18,.77,.56,1);
    background-size: 150% 150%;
}
footer {
  background: #1e1e1e;
  color: #f0f0f0;
}
.footer-top {
  padding: 1rem 1.5rem;
}
.footer-about h3 {
  font-size: 1.75rem;
}
.footer-top h3 {
  font-size: 1.5rem;
  margin: 2rem 0 0.5rem;
}
.footer-about p {
  font-size: 1rem;
  line-height: 1.75;
  margin: 1.5rem 0;
}
.txt-justify {
  text-align: justify;
}
.footer-social {
  margin: 2rem 0;
}
.footer-industries, .footer-services {
  padding-right: 1rem;
}
.footer-top h3 {
  font-size: 1.5rem;
  margin: 2rem 0 0.5rem;
}
.xzect-ul {
  list-style: none;
  padding: 0;
}
.footer-top li {
  padding: 0.75rem 0;
  font-size: 1rem;
}
.footer-bottom {
  background: #181818;
  text-align: center;
  padding: 1rem 0;
}
.footer-cta .container {
  padding: 2.5rem 0;
  position: relative;
}


@media screen and (min-width: 768px){
  .cta-btn-group {
    display: flex;
  }
  .brand-tagline {
    font-size: 5rem;
      padding: 6rem 2rem;
  }
  .tag-line {
  padding: 6rem 2rem;
  }
  .tt-card {
    display: flex;
    flex: 0 1 12.5rem;
    align-items: center;
    justify-content: center;
    background: #ffffff4a;
    color: #000;
    border: 1px solid #fff;
    padding: 0.5rem 1.5rem;
    margin: 1rem;
    box-shadow: 2px 14px 20px 6px rgba(224,230,235,.58);
    border-radius: 3px;
    transition: all .3s ease;
  }
  .pattern-2 {
    background-size: contain;
  }
  .brand-tagline {
    font-size: 5rem;
    padding: 6rem 2rem;
  }
  .cta-btn {
    flex: 1 1;
    margin: 1rem;
  }
  
  }
@media screen and (min-width: 1024px)
{
  .footer-top a {
    color: #929ba8;
}

  .footer-bottom {
    text-align: center;
    padding: 1rem;
}
  .footer-top li {
    padding: 0.5rem 0;
}
  .footer-cta .container {
    padding: 5rem 0;
}
.footer-about p {
  line-height: 2.5;
}
.footer-top {
  display: flex;
  justify-content: space-between;
  padding: 3rem 1rem 1rem;
}
  .gradient-btn-1 {
    font-size: 1.375rem;
    padding: 0.75rem 2rem;
    margin: 2rem;
    background-size: 200% 200%;
}
  #logo img {
    width: 3rem;
}
.container {
  max-width: 1400px;
  margin: 0 auto;
}
.section-h2 {
  font-size: 2.5rem;
    text-align: center;
    line-height: .75;
    padding: 2rem 0;
}
.section-p {
  font-size: 1.25rem;
  text-align: center;
  max-width: 70%;
  margin: 0 auto;
  line-height: 1.5;
}
.service-card {
  margin: 1rem;
}
section {
  margin-left: 0;
  margin-right: 0;
}
.company-intro {
  padding: 1vh 0 4vh;
}
.footer-cta h2 {
    padding: 2rem 0;
    font-size: 2.75rem;
}
.footer-cta p {
  padding: 2rem;
  font-size: 3.75rem;
  font-weight: 700;
}
.footer-about {
  flex-basis: 35%;
  padding-right: 1rem;
}
.footer-about h3 {
  font-size: 1.5rem;
}
.footer-about h3 {
  font-size: 1.5rem;
}

.footer-top h3 {
  font-size: 1.25rem;
}

.footer-industries, .footer-services {
    padding-right: 1rem;
}
.footer-top h3 {
  font-size: 1.25rem;
}
.brand-n-btn {
  order: 1;
  flex: 5 1;
}
.brand-tagline {
  font-size: 5rem;
}
}


@media screen and (max-width: 1200px){
    .one {
      flex-direction: column-reverse;
      height:100%;
    }
    .left-div {
      width:100%;
    }
    .dancing-box-wrap {
      width:100%;
    }
  }
  @media screen and (min-width: 1600px){
    .brand-tagline {
      font-size: 6rem;
  }
  .container {
    max-width: 1600px;
    margin: 0 auto;
  }
  
}


@media screen and (min-width: 1200px) {
  .company-intro .container {
      display:flex
  }

  .dancing-box {
      width: 360px;
      height: 360px;
      perspective: 2000px;
      perspective-origin: 50% -460px
  }

  .box-cube {
      transform-origin: 30% 210px 0
  }

  .box-faces {
      border: 6px solid #fff;
      width: 360px;
      height: 360px
  }

  .box-front {
      transform: translateZ(180px)
  }

  .box-back {
      transform: rotateY(180deg) translateZ(180px)
  }

  .box-top {
      transform: rotateX(90deg) translateZ(180px)
  }

  .box-bottom {
      transform: rotateX(-90deg) translateZ(180px)
  }

  .box-left {
      transform: rotateY(-90deg) translateZ(180px)
  }

  .box-right {
      transform: rotateY(90deg) translateZ(180px)
  }

  .dancing-box-wrap {
      display: flex;
      justify-content: right;
      padding: 8rem 7.5rem 0 0;
      order: 2;
      flex: 4 1
  }
}

/* ICONs */


.footer-top a {
    color: #929ba8;
}
.facebook {
    background-image: url(https://www.xzect.com/assets/images/icons/social/facebook.png);
}
.instagram {
  background-image: url(https://www.xzect.com/assets/images/icons/social/instagram.png);
}
.twitter {
  background-image: url(https://www.xzect.com/assets/images/icons/social/twitter.png);
}
.linkedin {
  background-image: url(https://www.xzect.com/assets/images/icons/social/linkedin.png);
}
.youtube {
  background-image: url(https://www.xzect.com/assets/images/icons/social/youtube.png);
}
.pinterest {
  background-image: url(https://www.xzect.com/assets/images/icons/social/pinterest.png);
}
.fs-icon {
    margin: 1rem 1rem 1rem 0;
}
.icon-32 {
    width: 2rem;
    height: 2rem;
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
}
@media screen and (min-width: 1024px)
{.header-middle {
    display: flex;
    justify-content: space-between;
}}
@media screen and (min-width: 1024px)
{.header-industries, .header-popular, .header-resources, .header-services {
    margin-top: 2rem;
}}
#main-menu li {
  padding: 0.5rem 0;
  font-size: 1.125rem;
}
/* NAVBAR */
#main-menu.open {
  top: 0;
  visibility: visible;
}
#main-menu {
  position: fixed;
  left: 0;
  top: -103vh;
  padding: 5rem 1rem;
  width: 100vw;
  height: 100vh;
  background: #1d2233;
  transition: all .5s ease-in-out;
  overflow-y: scroll;
  z-index: 1000;
  visibility: hidden;
}
.hamburger {
  position: absolute;
  right:70px;
  top: 40px;
  width: 30px;
  height: 2px;
  background: white;
  cursor: pointer;
  transition: ease_in_out;
  &:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    top: -10px;
    left: 0;
    background: white;
    transition: ease_in_out;
  }
  &:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    top: -20px;
    left: 0;
    background: white;
    transition: ease_in_out;
  }
}

.cta-btn {
  margin: 1.25rem 1rem;
  display: block;
  padding: 1rem
}

.cta-txt {
  padding: .75rem 0
}

.cta-1 {
  border: 2px solid #075e54;
  background: #075e54;
  transition: all .3s ease-in-out
}

.cta-1:hover {
  background: #05423b;
  font-weight: 700
}

.cta-2 {
  border: 2px solid #5e76fd;
  background: #1d2233;
  transition: all .3s ease-in-out
}

.cta-2:hover {
  border-image-slice: 1;
  border-width: 2px;
  border-image-source: linear-gradient(100deg,#fb2576,#5e76fd 50%,#6df1af 110%)
}

.cta1-icon {
  background: url(/assets/images/whatsapp-icon.svg) no-repeat;
  background-size: contain;
  background-position: 50%;
  padding: 1rem;
  margin: .25rem 1rem .25rem 0
}
